.tap-tap a {
    color: inherit;
    display: block;
    width: 100%;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 2em;
    padding-left: 3.5em;
    margin: 0;
    top: 0;
    opacity: 1;
    background: transparent;
    transition: opacity 1s, background 1s;
}

.tap-tap {
    color: rgb(0,200,200);
    margin: 0;
    padding: 0;
    list-style-type: none;
    display:inline-block;
    width:50%;
    border:solid 1px black;
    border-bottom:solid 3px gray
}

.tap-tap li {
    counter-increment: step-counter;
    margin: 0;
    position: relative;
    height: 2em;
}

.tap-tap li:nth-child(even) {
    background: rgba(0,100,100, .08);
}

.tap-tap li::before {
    content: counter(step-counter);
    margin: .75em 0;
    margin-left: .5em;
    font-size: 1.25em;
    font-style: italic;
    line-height: .2em;
    font-weight: bold;
    padding: 3px 0;
    width:1em;
    display: inline-block;
    text-align: right;
}

.tap-tap li::after {
    content: attr(ordinal);
    font-style: italic;
    font-size: .5em;
    line-height: 3.9em;
    font-weight: bold;
    padding-right: .5em;
    border-right: solid 2px gray;
    top: -.7em;
    width: 1.5em;
    display: inline-block;
    text-align: left;
    position: absolute;
    top:0;
}

.tap-tap .highlight a {
    opacity: 0.5;
    background: rgba(0,200,200,.1);
    transition: .5s;
}